

.card-container {
    align-items: center;
    background-color: rgb(202, 146, 253);
    border: solid 2px #4a167a;
    width: 350px;
    height: 450px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    color:#4a167a;
}

.card-title {
    font-size: 2rem;
    color: #4a167a;
    text-decoration: none;
}
