
.link {
    text-decoration: none;
    color: rgb(213, 169, 253);
}

.item-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}